/**
* ICONS (SVG) CSS
**/

.header_nav {
    .social-list {
    	padding-top: 20px;
    	padding-bottom: 20px;
    	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    		padding-top: 15px;
    		padding-bottom: 15px;
    	}
        > div {
            float: right;
		    padding-right: 10px;
		    padding-left: 10px;
		    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
		    	padding-left: 8px;
		    	padding-right: 8px;
		    }
        }
    }
    svg.social-icons {
        width: 23px;
        height: 23px;
        fill: $secondary-color-light;
        cursor: pointer;
    }
}
