// rotate the search to 360deg
.fa.fa-search {
    transform: rotateY(360deg);
    color: #fff;
}

.hover {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

// set the bg for the nav to black
.navbar {
    // set the background color for the nav
    background: #000;
    border-radius: 0;
}

//mobile menu for the header
.navbar.mobile .header_form {
    @media (max-width: 768px) and (orientation: portrait) {
        font-size: 5vw;
        padding-top: 7vw;
    }
    @media (max-width: 768px) and (orientation: landscape) {
        font-size: 4vw;
        padding-top: 5vw;
    }
    .login {
        color: $main-color;
        font-weight: 700;
        &:hover {
            color: $secondary-color;
        }
    }
    > div {
        float: right;
    }
    > div:first-child {
        padding-left: 12px;
    }
    > div:nth-child(2) {
        padding-left: 12px;
        padding-right: 12px;
        border-right: 1px solid #fff;
        border-left: 1px solid #fff;
    }
    > div:last-child {
        padding-right: 12px;
    }
}

.navbar.mobile {
    overflow: hidden;
    padding-bottom: 10px;
    .fa {
        color: #fff;
        &:hover,
        &.hover_effect {
            color: $secondary-color;
        }
        &-bars {
            @media (max-width: 768px) and (orientation: portrait) {
                font-size: 1.3em;
            }
        }
    }
    .container > div {
        position: relative;
        .logo {
            left: -15px;
        }
        .header_form {
            right: -15px;
        }
    }
    .logo img {
        @media (max-width: 768px) and (orientation: portrait) {
            max-width: 20vw;
        }
        @media (max-width: 768px) and (orientation: landscape) {
            max-width: 18vw;
        }
    }
}

// desktop menu for the header
.navbar.desktop .header_form {
    padding-top: 30px;
    @media screen and (min-width: 768px) {
        .fa.fa-search {
            position: absolute;
            right: 35px;
            top: 10px;
            z-index: 2;
        }
    }
    // header_form submit button style
    button[type="submit"] {
        width: 100%;
        background: $main-color;
        border-color: $main-color;
        color: #000;
        text-transform: uppercase;
        &:focus {
            background: $main-color;
            border-color: $main-color;
        }
    }
    /* change the color, font size, etc for the header_form */
    .form-control {
        font-size: $base-font-size - 2;
        font-style: italic;
        position: relative;
        background: $secondary-color;
        border-color: $secondary-color;
        color: #fff;
        &:focus {
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(100, 101, 103, 0.6);
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(100, 101, 103, 0.6);
        }
    }
}

.navbar.desktop {
    .menu-list ul {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .menu-list li {
        padding-left: 15px;
        padding-right: 15px;
        font-weight: 700;
        @media (min-width: $screen-md-min) {
            padding-left: 25px;
            padding-right: 25px;
        }
        a {
            color: #fff;
            &:hover {
                color: $main-color;
                text-decoration: none !important;
            }
        }
    }
}

.ad-text {
    font-size: .6vw;
    color: #fff;
    > div {
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

// styling for mobile menu overlay (red box)
.mobile-menu-overlay {
    @include background-opacity(#CC1E2E, 0.8);
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 1s ease;
    &.deactivate {
        left: -100%;
    }
    &.active {
        left: 0;
    }
    .close-btn {
        color: $secondary-color;
        font-size: 1.3em;
        @include spacepad(15px);
        > div {
            text-align: right;
        }
    }
    .menu-list {
        text-transform: capitalize;
        color: #fff;
        font-family: 'Gotham-Light';
        font-weight: 700;
        > li {
            @include spacepad(8px)
        }
    }
}
