.page-wrap {
    background-color: #000;
    .page-banner {
        > div {
            border-bottom: 3px solid $secondary-color-dark;
        }
    }
}

.item {
    font-size: 12px;
    &-category {
        color: $main-color;
        font-size: 1em;
        font-size: 700;
        text-transform: capitalize;
    }
    &-name {
        text-transform: capitalize;
        font-size: 1.8em;
        color: #fff;
    }
}

.item-status-list {
    .stat-value {
        position: absolute;
	    top: .2rem;
	    left: 0;
	    width: 100%;
	    text-align: center;
	    line-height: 40px;
	    font-size: 1.2em;
	    color: #fff;
    }
    > .item-status {
    	float: left;
	    position: relative;
	    margin-left: 5px;
	    margin-right: 5px;
    }
}
