.page-wrap {
    background-color: #000;
    .page-banner {
        > div {
            border-bottom: 3px solid $secondary-color-dark;
        }
    }
}

.page-content {
    @media (min-width: 768px) {
        background-color: #fff;
    }
}

.item {
    font-size: 12px;
    @media (min-width: 768px) {
        font-size: 14px;
    }
    &-category {
        color: $main-color;
        font-size: 1em;
        font-size: 700;
        text-transform: capitalize;
    }
    &-name {
        text-transform: capitalize;
        font-size: 1.8em;
        color: #fff;
        @media (min-width: 768px) {
            color: #000;
            font-size: 2.4em;
            line-height: 1.3;
        }
    }
    &-post {
        font-family: 'Gotham';
        padding-bottom: 10px;
        @media (min-width: 768px) {
            border-top: 1px solid #000;
            border-bottom: 1px dashed #000;
            padding-top: 10px;
        }
        &-date {
            color: $special-font-color; // change the color to dark orange
            > div {
                float: left;
                &:after {
                    content: "\f111";
                    display: block;
                    font: normal normal normal 14px/1 FontAwesome;
                    font-size: .5em; //set the fontsize for the circle
                    float: right;
                    margin: 5px;
                }
                /* remove the dots above 768px for the last child */
                &:last-child:after {
                    @media (min-width: 768px) {
                        content: '';
                        display: none;
                    }
                }
            }
        }
        &-author {
            color: #fff;
            @media (min-width: 768px) {
                color: #939597;
                border-top: 1px solid #000;
                border-bottom: 1px solid #000;
                font-size: 90%; //make it smaller a bit
                padding-top: 5px;
                padding-bottom: 5px;
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
    }
    &-content {
        border-bottom: 1px dashed #fff;
        border-top: 1px dashed #fff;
        color: #fff;
        font-family: 'Gotham'; //set the font family
        @media (min-width: 768px) {
            color: #000;
        }
    }
    &-social {
        padding-top: 10px;
        &-text {
            margin-right: 15px;
        }
        &-icon {
            > div {
                float: left;
                padding-left: 5px;
                padding-right: 5px;
                cursor: pointer;
            }
        }
    }
}

.item-status-list {
    /* set the border for the attr */
    border-top: 1px dashed #fff;
    border-bottom: 1px dashed #fff;
    /* give it some space */
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -5px; //negative margin to aligned it with the top content
    .stat-value {
        position: absolute;
        top: .2em;
        left: 0;
        width: 100%;
        text-align: center;
        line-height: 40px;
        font-size: 1.2em;
        color: #fff;
        @media (min-width: 768px) {
            color: #000;
            top: .3em;
        }
    }
    > .item-status {
        float: left;
        position: relative;
        margin-left: 5px;
        margin-right: 5px;
    }
    /* set the style for the status attribut (design, usability, etc) */
    .stat-attr {
        color: #fff;
        @media (min-width: 768px) {
            color: #000;
        }
        padding-top: 5px;
        text-align: center;
        font-family: 'Gotham';
        font-size: 0.8em;
        font-weight: 700;
        @media (min-width: 768px) {
            font-size: 0.9em;
        }
    }
}

.item.desktop .item-content {

    // add some space for the content on tablet
    padding-top: 20px;
    padding-bottom: 20px;

    // remove the space on desktop
    @media (min-width: 992px) {
        padding-top: 0;
        padding-bottom: 0px;
    }
}