// desktop menu for the header


#page-header {
        background: #000;
}
#page-header .header_form {
    padding-top: 30px;
    @media screen and (min-width: 768px) {
        .fa.fa-search {
            position: absolute;
            right: 35px;
            top: 10px;
            z-index: 2;
        }
    }
    // header_form submit button style
    button[type="submit"] {
        width: 100%;
        background: $main-color;
        border-color: $main-color;
        color: #000;
        text-transform: uppercase;
        &:focus {
            background: $main-color;
            border-color: $main-color;
        }
    }
    /* change the color, font size, etc for the header_form */
    .form-control {
        font-size: $base-font-size - 2;
        font-style: italic;
        position: relative;
        background: $secondary-color;
        border-color: $secondary-color;
        color: #fff;
        &:focus {
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(100, 101, 103, 0.6);
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(100, 101, 103, 0.6);
        }
    }
}

// rotate the search to 360deg
.fa.fa-search {
    transform: rotateY(360deg);
    color: #fff;
}