/*vendor--*/

@import 'vendor/bootstrap/style/bootstrap';
@import 'vendor/fontawesome/font-awesome';
@import 'vendor/slick/style/slick';
@import 'vendor/slick/style/slick-theme';

/*kodein--*/

@import 'style/var';
@import 'style/animate';
@import 'style/kodein';
@import 'style/nav';
@import 'style/page-ulasan';
@import 'style/icons';
@import 'style/fonts';

/*partials--*/
@import 'style/_partials/color-mixin';

/*--*/

.highlight {
    color: $main-color;
}

body {
    font-family: 'Gotham';
    font-size: $base-font-size;
}

.red_box {
     @include background-opacity(#CC1E2E, 0.8);
     position: absolute;
     width: 100%;
     height: 100%;
     transition: 1s ease;
     &.deactivate {
     	left: -100%;
     }
     &.active {
     	left: 0;
     }
     ul {
     	color: #fff;
     }

}