/*vendor--*/

@import 'vendor/bootstrap/style/bootstrap';
@import 'vendor/fontawesome/font-awesome';
@import 'vendor/slick/style/slick';
@import 'vendor/slick/style/slick-theme';

/*partials--*/
@import 'style/base';

/*kodein--*/

@import 'style/var';
@import 'style/animate';
@import 'style/kodein';
@import 'style/nav';
@import 'style/page-ulasan';
@import 'style/icons';
@import 'style/fonts';
@import 'style/footer';



/*--*/

.highlight {
    color: $main-color;
}

body {
    font-family: 'Gotham-Med';
    font-size: $base-font-size;
    position: relative;
}
