/*vendor--*/

@import 'vendor/bootstrap/style/bootstrap';
@import 'vendor/fontawesome/font-awesome';
@import 'vendor/slick/style/slick';
@import 'vendor/slick/style/slick-theme';

/*partials--*/
@import 'style/base';

/*kodein--*/
@import 'style/var';
@import 'style/animate';
@import 'style/kodein';
@import 'style/icons';
@import 'style/fonts';

/*page-template--*/
@import 'style/page-nav';
@import 'style/page-ulasan';
@import 'style/page-header';
@import 'style/footer';



/*--*/
// * { border: 1px solid red; }
.highlight {
    color: $main-color;
}
html, body {
	margin: 0;
  padding: 0;
}
body {
position: relative;
top: 0; bottom: 0;
}


body {
    font-family: 'Gotham-Med';
    font-size: $base-font-size;
}


.petarung-line {
	border-top: 2px solid $secondary-color-light;

	&-highlight {
		border-top: 1px solid $main-color;
	}
	@media (min-width: 768px) {
		margin-left: 25px;
		margin-right: 25px;
	}
}
header, content, footer {
	display: block;
}


.page-content .text {
	font-size: $header-test;
}

.comment.mobile {
	input {
		height: 4em;
	}
}