/* ------------------- */
// utility mixin
/* ------------------- */

// add padding top and bottom
@mixin spacepad($value) {
    padding-top: $value;
    padding-bottom: $value;
}

// add padding top and bottom but 0 padding on the sides
@mixin spacepad-nosides($value) {
    padding-top: $value;
    padding-bottom: $value;
    padding-left: 0;
    padding-right: 0;
}

// add margin top and bottom
@mixin spacemar($value) {
    margin-top: $value;
    margin-bottom: $value;
}

// add padding top and bottom but 0 margin on the sides
@mixin spacemar-nosides($value) {
    margin-top: $value;
    margin-bottom: $value;
    margin-left: 0;
    margin-right: 0;
}