.menu-list > div {
    max-width: 600px;
    margin: 0 auto;
    a {
        color: #fff;
        font-weight: 700;
    }
}

.menu-list > div > div {
    background: $secondary-color;
    padding: 10px 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    &:last-child {
        background: none;
        padding: 10px 0;
    }
}

button.btn.btn-primary {
	// padding: 6px 12px;
    width: 100%;
    background-color: $main-color;
    border-color: $main-color;
    // margin-top: 15px;
    color: #000;
    font-weight: 700;
    &:hover {
        background-color: $main-color;
        border-color: $main-color;
    }
}
