

.hover {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

// set the bg for the nav to black
#page-nav {
    // set the background color for the nav
    background: #000;
    border-radius: 0;
}

//mobile menu for the header
.navbar.mobile .header_form {
    @media (max-width: 768px) and (orientation: portrait) {
        font-size: 5vw;
        padding-top: 7vw;
    }
    @media (max-width: 768px) and (orientation: landscape) {
        font-size: 4vw;
        padding-top: 5vw;
    }
    .login {
        color: $main-color;
        font-weight: 700;
        &:hover {
            color: $secondary-color;
        }
    }
    > div {
        float: right;
    }
    > div:first-child {
        padding-left: 12px;
    }
    > div:nth-child(2) {
        padding-left: 12px;
        padding-right: 12px;
        border-right: 1px solid #fff;
        border-left: 1px solid #fff;
    }
    > div:last-child {
        padding-right: 12px;
    }
}

.navbar.mobile {
    overflow: hidden;
    padding-bottom: 10px;
    .fa {
        color: #fff;
        &:hover,
        &.hover_effect {
            color: $secondary-color;
        }
        &-bars {
            @media (max-width: 768px) and (orientation: portrait) {
                font-size: 1.3em;
            }
        }
    }
    .container > div {
        position: relative;
        .logo {
            left: -15px;
        }
        .header_form {
            right: -15px;
        }
    }
    .logo img {
        @media (max-width: 768px) and (orientation: portrait) {
            max-width: 20vw;
        }
        @media (max-width: 768px) and (orientation: landscape) {
            max-width: 18vw;
        }
    }
}

.navbar.desktop {
    .menu-list ul {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .menu-list li {
        padding-left: 15px;
        padding-right: 15px;
        font-weight: 700;
        @media (min-width: $screen-md-min) {
            padding-left: 25px;
            padding-right: 25px;
        }
        a {
            color: #fff;
            &:hover {
                color: $main-color;
                text-decoration: none !important;
            }
        }
    }
}

.ad-text {
    font-size: .6vw;
    color: #fff;
    > div {
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

// styling for mobile menu overlay (red box)
.mobile-menu-overlay {
    font-size: 16px;
    @include background-opacity(#EF081E, 0.8);
    position: absolute;
    // transition: .5s ease;
    @include transition(.5s ease);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    > .container {
        padding-top: 4em;
    }
    &.deactivate {
        // left: -100%;
        // transform: translate(-240px, 0px);
        @include transform(-100%, 0);
    }
    &.active {
        // left: 0;
        @include transform(0px, 0);
    }
    .close-btn {
        color: #fff;
        font-size: 1.3em;
        @include spacepad(15px);
        > div {
            text-align: right;
        }
    }
    .menu-list {
        text-transform: capitalize;
        color: #fff;
        font-family: 'Gotham-Light';
        font-weight: 700;
        > li {
            @include spacepad(8px)
        }
    }
}
